* {
    padding: 0;
    margin: 0;
}

#game {
    position: relative;
    display: inline-block;
    float: left;
}

.panel {
}

h3 {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    text-align: left;
}

table {
    border-collapse: collapse;
    border: 1px solid #ffffff;
    width: 100vh;
    height: 100vh;
}

td {
    border: 1px solid #000000;
    width: 8px;
    height: 8px;   
    background-color: #ffffff;
    box-sizing: border-box;
}

.empty {
    background-color: #ffffff;
}

.body {
    background-size: contain;
}

.head {
    background-image: url(../img/head.gif);
    background-size: contain;
    transform: scale(1.4);
}

.apple {
    background-image: url(../img/poo.png);
    background-size: contain;
}

.gameover {
    background-color: #510110
}

.bonus {
    border: 3px solid #055405;
    background-size: contain;
    border-radius: 10%;
}

.antigoth {
    background-image: url(../img/bonus_anti.jpg);
}

.linn {
    background-image: url(../img/bonus_linn.gif);
}

.snake {
    background-image: url(../img/bonus_snake.jpg);
}

.invulnerability {
    background-color: #055405;
}

.legend_item {
    border-bottom: 1px solid #000000;
    padding: 20px;
}
